@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+P+One&family=Playfair+Display&display=swap');
 

.whole-mid{

    padding: 5%;
    
}

.underline{
    background-color:#20B2AA;
    width: 65px;
    height: 4px;
}
.accordion{
    max-width: 500px;
}
.accordion .contentBox
{
position: relative;
margin: 10px 20px;

}
.accordion .contentBox .label
{
    position: relative;
    padding-left: 10px;
    color: gray;
    cursor: pointer;
   
}

.accordion .contentBox .label::before
{
    content: '+ ';
    font-size: 30px;
    font-weight: bold;
    font-size: 1.2em;
}
.accordion .contentBox.active .label::before{

    content: '- ';
    font-size: 30px;
    font-weight: bold;
    
}

.accordion .contentBox .content
{
    position: relative;
    padding:10px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;

}
.accordion .contentBox.active .content
{
    height: auto;
    padding:10px;
    background-color:#F8F8FF ;
}
.accordion .contentBox.active .label{
     color: #20B2AA;
}

#mid-section{
   
    display: flex;

}
.mid-image-part{

    display: flex;
}
#gallery-section{

    display: flex;
}

.Team_of_Co{
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: center;
    margin: 10px;
}
.Team_of_Co img{
    height: 250px;
    width: 250px;

    margin-top: 15%;
}
.form_mid+h1{
    text-align: center;
    margin: 50px;
}
.team-head{
    
    margin-left: auto;
    text-align: center;
    
}
/* css of sliding */
.demo_class{
    height: 400px;
    width: 100%;
    margin: 10%;
    margin-top: 23%;
    
   
}
.gallery{
    width: 20%;
    margin-left: 10%;
    margin-top: 8%;
}
.p-team{
    font-family: "Lato",sans-serif;
}
