/* nav start from here */
* {
    margin: 0px;
}
body{
    font-family: sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 1;
    margin-top: 5px;
}
.nav-left-part{
    margin-left: 200px;
    margin-top: 5px;
}
.nav-left-part a{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    line-height: 2;
    cursor: pointer;
}
.nav-left-part span{
    font-size: 25px;
    font-weight: 700;
    margin-left: 3px;
    color: #08d9d6 !important;
}
.nav-right-part{
    margin-right: 214px;
    margin-top: 0px;
}
.nav-right-part > ul{
   text-decoration: none;
   display: flex;
   list-style-type: none;
}
.nav-right-part > ul > li{
    margin: 12px 10px 0px 0px;
    padding: 9px;
    cursor: pointer;
}
.nav-right-part li > a{
    font-size: 14px;
    color: white;
}
.nav-right-part a{
    text-decoration: none;
}
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0; 
    display: inline-block; 
    padding: 2px;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.nav-right-part .dropdown-inside-ul{
    background-color: white;
    color: black;
    width: 9%;
    margin-left: -10px;
    height: 155px;
    margin-top: 9.9px;
    position: absolute;
    display: none;
    text-decoration: none;
    list-style-type: none;
}
.hover-test:hover .dropdown-inside-ul , .dropdown-inside-ul{
    display: block;
    cursor: pointer;
}
.nav-right-part .dropdown-inside-ul > li{
    text-align: left;
    margin-left: -10px;
    margin-top: 15px;
}
.nav-right-part .dropdown-inside-ul a{
    color: black;
    text-align: left;
}
.menu-two-angel{
    margin-left: 65px;
    border: solid black;
    border-width: 0 2px 2px 0; 
    display: inline-block; 
    padding: 1.5px;
    cursor: pointer;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/* nav part end here */

#behind-nav-img{
    width: 100%;
    height: 760px;
    background-image: url("https://preview.colorlib.com/theme/travel2/images/xslider-3.jpg.pagespeed.ic.eE1plBizli.webp");
    background-size: cover;
    background-position: center;
    margin-top: -68px;
}
/* nav below div */
/* mid txt */
.h{
    width: 100%;
    height: 600px;
}
#mid-text{
    color: white;
    text-align: center;
    width: 50%;
    position: absolute;
    margin: 300px 0px 0px 350px;
    font-family: none;
    font-weight: 500;
    line-height: 1.2;
    font-size: 42px;
}
.contact-us-btn{
    border: 0px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #08d9d6;
    border-radius: 29px;
    width: 8%;
    margin-left: 700px;
    margin-top: 418px;
}
/*  */


/* nav media */
#hamIcon{
    display: none;
}
#cross{
    display: none;
}
@media only screen and (max-width: 992px){
    /* nav */
    .nav-right-part{
        display: none;
    }
    .nav-append{
        display: block;
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 30%;
        height: 672px;
        background-color: white;
        /* border: 1px solid red; */
    }
    #cross{
        display: flex;
        justify-content: right;
        font-size: 35px;
        /* font-weight: 400; */
        /* padding: 0px; */
        margin-top: 5px;
        margin-right: 15px;
    }
    .nav-append > ul{
        display: flex;
        flex-direction: column;
        /* background-color: white; */
        /* height: 100%; */
        /* border: 1px solid blue; */
        margin-top: 7px;
    }
    .nav-append > ul > li{
        padding: 1px;
        /* margin-right: 5px; */
        /* border: 1px solid blue; */
    }
    .nav-append > ul > li > a{
        color: black;
    }
    #hamIcon{
        display: block;
        width: 38px;
        height: 32px;
        cursor: pointer;
        position: relative;
        font-size: 32px;
        margin-right: 125px;
        margin-top: 5px;
        color: white; 
    }
    .nav-left-part{
        margin-left: 140px;
    }
    #behind-nav-img{
        margin-top: -200px;
    }

    .arrow {
        border: solid black;
        border-width: 0 2px 2px 0; 
        display: inline-block; 
        padding: 2px;
        cursor: pointer;
        margin: 0px 0px 0px 150px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    #home-anchor{
        color: #08d9d6 !important;
    }
    /* nav */

    .h{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #mid-text{
        /* color: white;
        text-align: center;
        width: 50%;
        position: absolute;
        margin: 300px 0px 0px 350px;
        font-family: none;
        font-weight: 500;
        line-height: 1.2;
        font-size: 42px; */
        position: initial;
        width: 70%;
        margin: 335px auto 0px;
    }
    .contact-us-btn{
        /* border: 0px;
        padding: 15px;
        font-size: 14px;
        font-weight: 400;
        color: white;
        background-color: #08d9d6;
        border-radius: 29px;
        width: 8%;
        margin-left: 700px;
        margin-top: 418px; */
        /* position: initial; */
        margin: unset;
        padding: unset;
        width: 127px;
        height: 47px;
        margin: 20px auto 0px;
    }
    .first-form-test{
        display: flex;
        justify-content: center;
        /* border: 12px solid black; */
    }
   .form-main-div{
        width: 720px;
        /* width: 100%; */
        height: 134px;
        padding: 30px;
        margin-top: -50px;
        background-color: white;
        box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
        /* border: 2px solid red; */
   }
   .test-d{
    width: 100%;
    height: 134px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid green; */
   }
   .outer-input{
        width: 45%; 
        margin: auto;
        /* border: 2px solid red; */
    }
   .select{
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
    width: 100%;
   }
   #date , #name , #search-button{
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
    width: 100%;
    margin: 12px;
    }
    #search-button{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 30px;
        font-size: 14px;
        background-color: #08d9d6;
        cursor: pointer;
    }
    .white{
        height: 50px;
        background-color: white;
    }
}


/* nav media end */
