@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap");

* {
  margin: 0px;
}
/* nav bar */
body {
  font-family: sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 1;
  margin-top: 5px;
}
.nav-left-part {
  margin-left: 200px;
  margin-top: 5px;
}
.nav-left-part a {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  line-height: 2;
}
.nav-left-part span {
  font-size: 25px;
  font-weight: 700;
  margin-left: 3px;
  color: #08d9d6 !important;
}
.nav-right-part {
  margin-right: 214px;
  margin-top: 0px;
}
.nav-right-part > ul {
  text-decoration: none;
  display: flex;
  list-style-type: none;
}
.nav-right-part > ul > li {
  margin: 12px 10px 0px 0px;
  padding: 9px;
  cursor: pointer;
}
.nav-right-part li > a {
  font-size: 14px;
  color: white;
}
.nav-right-part a {
  text-decoration: none;
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-right-part .dropdown-inside-ul {
  background-color: white;
  color: black;
  width: 9%;
  margin-left: -10px;
  height: 155px;
  margin-top: 9.9px;
  position: absolute;
  display: none;
  text-decoration: none;
  list-style-type: none;
}
.hover-test:hover .dropdown-inside-ul,
.dropdown-inside-ul {
  display: block;
  cursor: pointer;
}
.nav-right-part .dropdown-inside-ul > li {
  text-align: left;
  margin-left: -10px;
  margin-top: 15px;
}
.nav-right-part .dropdown-inside-ul a {
  color: black;
  text-align: left;
}
.menu-two-angel {
  margin-left: 65px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1.5px;
  cursor: pointer;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* .main-wrapper {
  height: 100vh;
  min-height: 670px;
  position: relative;
} */

body {
  margin: 0px;
}
/* .main_header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.bkg-image {
  background-image: url("https://preview.colorlib.com/theme/travel2/images/xslider-1.jpg.pagespeed.ic.WRHModZqO2.webp");

  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: -70px;
}

.travel {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.service {
  color: white;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 3;
}

.desc {
  max-width: 800px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}

.para {
  color: #fff;
  margin-bottom: 10px;
}

.btn-start {
  background-color: #09ede9;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 14px;
  border: none;
}

.img-row {
  padding: 70px 0;
}

.row-wrapper {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
}

.parent-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
}

.row-child {
  /* flex: 0 0 25%;
  width: 25%; */
  width: 16%;
  margin: 20px;
}

.row-child img {
  width: 100%;
  height: auto;
}

.img-desc h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}

.img-desc p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.sym-child {
  text-align: center;
  width: 16%;
  margin: 20px;
}

.fa-life-ring,
.fa-smile,
.fa-tag,
.fa-paper-plane {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sym-child h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

.sym-child p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.service-row {
  margin-bottom: 3rem;
  justify-content: center;
}

.service-text {
  padding-right: 15px;
  padding-left: 15px;
  width: 31%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem !important;
}

.service-text h2 {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
}

.service-bord {
  content: "";
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 4px;
  background: #08d9d6;
}

.service-text p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center !important;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 14px;
}
div.img-1 {
  background-image: url("https://preview.colorlib.com/theme/travel2/images/ximg_3.jpg.pagespeed.ic.gd4lnyCcRC.webp");
  width: 21vw;
  height: 60vh;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 22%;
}
.content-card {
  align-self: center;
}
.fa-plane {
  color: #08d9d6 !important;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  transform: rotate(270deg);
  margin-bottom: 10px;
}
.fa-utensils,
.fa-swimming-pool,
.fa-home {
  color: #08d9d6 !important;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 10px;
}
.content-card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 6px;
}
.content-card p {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 0 !important;
}
.card-1 {
  padding: 30px;
  background: #f8f9fa;
  height: 35%;
  top: 0;
  margin-bottom: 30px !important;
  margin: 20px;
  margin-top: 0px;
}
.card-2 {
  padding: 30px;
  background: #f8f9fa;
  height: 35%;
  top: 0;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
@media screen and (max-width: 986px) {
  .row-child {
    width: 35%;
  }
  .sym-child {
    width: 35%;
  }
  div.img-1 {
    display: none;
  }
  .service-row .parent-row {
    display: block;
  }
  .card-1 {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .bkg-image {
    width: 100%;
  }
}
